<div class="p-10 bg-gray-100 min-h-screen">

<h1 class="text-3xl font-bold mb-8">
Teacher Dashboard
</h1>

<!-- Mark Attendance -->

<div class="bg-white shadow rounded-xl p-6 mb-10">

<h2 class="text-xl font-semibold mb-4">
Mark Attendance
</h2>

<form class="grid grid-cols-2 gap-4" (ngSubmit)="markAttendance()">

<select class="border p-2 rounded" [(ngModel)]="attendance.subjectId" name="subjectId">
<option value="">Select Subject</option>
<option *ngFor="let s of subjects" [value]="s.id">
{{s.name}}
</option>
</select>

<select class="border p-2 rounded" [(ngModel)]="attendance.studentId" name="studentId">
<option value="">Select Student</option>
<option *ngFor="let s of students" [value]="s.id">
{{s.username}}
</option>
</select>

<select class="border p-2 rounded" [(ngModel)]="attendance.status" name="status">
<option value="">Status</option>
<option value="PRESENT">Present</option>
<option value="ABSENT">Absent</option>
</select>

<button
class="col-span-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">

Mark Attendance

</button>

</form>

</div>

<!-- Upload Notes -->

<div class="bg-white shadow rounded-xl p-6 mb-10">

<h2 class="text-xl font-semibold mb-4">
Upload Study Notes
</h2>

<form class="space-y-4" (ngSubmit)="uploadNotes()">

<input
type="text"
placeholder="Notes Title"
class="w-full border p-2 rounded"
[(ngModel)]="note.title"
name="title"
/>

<select class="w-full border p-2 rounded" [(ngModel)]="note.subjectId" name="subjectId">

<option value="">Select Subject</option>
<option *ngFor="let s of subjects" [value]="s.id">
{{s.name}}
</option>

</select>

<input
type="file"
class="w-full border p-2 rounded"
(change)="onFileSelected($event)"
/>

<button
class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">

Upload Notes

</button>

</form>

</div>

<!-- Uploaded Notes -->

<div class="bg-white shadow rounded-xl p-6">

<h2 class="text-xl font-semibold mb-4">
Uploaded Notes
</h2>

<table class="w-full border">

<thead class="bg-gray-200">

<tr>
<th class="p-3">ID</th>
<th class="p-3">Title</th>
<th class="p-3">Subject</th>
<th class="p-3">Date</th>
<th class="p-3">File</th>
</tr>

</thead>

<tbody>

<tr *ngFor="let n of notes" class="border-t">

<td class="p-3">{{n.id}}</td>
<td class="p-3">{{n.title}}</td>
<td class="p-3">{{n.subject.name}}</td>
<td class="p-3">{{n.uploadDate | date:'mediumDate'}}</td>

<td class="p-3">

<button
class="text-blue-600 underline"
(click)="download(n.storedFileName)">

Download

</button>

</td>

</tr>

</tbody>

</table>

</div>

</div>